body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    margin-top: 20px;
    color: #333;
}

.add-note-button {
    display: inline-block;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.notes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.note {
    background-color: #fff;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.note h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.note pre {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
    color: #444;
    font-size: 16px;
    overflow: auto;
}

.note p {
    font-size: 14px;
    color: #666;
}

.btn {
    margin-top: 10px;
    margin-right: 5px;
    display: inline-block;
    background-color: #007BFF;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}
